(
    schema: 1,
    seed: 1,
    packs: [
        (
            id: "example",
            version: "0.1.0",
            hash: 81985529216486895,
        ),
    ],
    rngs: {},
    clocks: {
        Party(0): (
            elapsed: 0,
            era: 0,
        ),
    },
    position: (
        map: 0,
        x: 0,
        y: 0,
        facing: East,
    ),
    maps: {},
    automap: (
        maps: {},
    ),
    mode: Explore,
    flags: {},
    settings: (
        save_anywhere: true,
    ),
    turn: 0,
)
