(
    seed: 81985529216486895,
    packs: [
        (
            id: "base",
            version: "0.1.0",
            hash: 7928880042662405992,
        ),
        (
            id: "test",
            version: "0.1.0",
            hash: 1865522332987774842,
        ),
    ],
    settings: (
        save_rule: Anywhere,
        permadeath: false,
        devtools: false,
    ),
    commands: [
        Step(Back),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Encounter(Attack),
        Step(Forward),
        Step(Forward),
        Turn(Left),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Turn(Around),
        Interact,
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Turn(Right),
        Step(Back),
        Interact,
    ],
    fingerprint: 4150529802456538600,
)