(
    seed: 2,
    packs: [
        (
            id: "base",
            version: "0.1.0",
            hash: 8833227582882160456,
        ),
        (
            id: "test",
            version: "0.1.0",
            hash: 9493551322087149983,
        ),
    ],
    settings: (
        save_rule: Anywhere,
        permadeath: false,
        devtools: false,
    ),
    commands: [
        Step(Back),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Turn(Left),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Turn(Around),
        Interact,
        Step(Forward),
        Encounter(Attack),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Turn(Right),
        Step(Back),
        Interact,
    ],
    fingerprint: 17353667557288991486,
)