(
    seed: 81985529216486895,
    packs: [
        (
            id: "base",
            version: "0.1.0",
            hash: 3079377783759628558,
        ),
        (
            id: "test",
            version: "0.1.0",
            hash: 564450942546854219,
        ),
    ],
    settings: (
        save_rule: Anywhere,
        permadeath: false,
    ),
    commands: [
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Encounter(Attack),
        Step(Forward),
        Turn(Left),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Turn(Around),
        Interact,
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Step(Forward),
        Turn(Right),
        Step(Back),
        Interact,
    ],
    fingerprint: 14031335896776193157,
)